
<div class="container" style="margin-top: 60px;">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <h1>New Blog</h1>
    <%= form_for @blog, url: {action: "update"}, html: {:multipart => true} do |f| %>
      <p>
        <%= f.label 'Title:' %><br/>
        <%= f.text_field :title, :required => true, class: "form-control" %>
      </p>
      <p>
        <%= f.label 'Text:' %><br/>
        <%= f.text_area :text, :required => true, rows: 10, class: "form-control" %>  </p>
      <p>
        <%= f.file_field :photo %>
      </p>
      <p>
        <%= f.submit 'Create', class: "btn btn-success" %>&nbsp;&nbsp;&nbsp;
        <%= f.submit 'Clear Form', class: "btn btn-default", :type => 'reset' %>
      </p>
    <% end %>
  </div>
  <div class="col-md-4">
  </div>
</div>