<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/full-slider.css" rel="stylesheet">
    <style>
        #galleria{height:407px}
    </style>

</head>

<body style="margin-top: 100px;">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--<div class="col-lg-4">

                    <div class="col-lg-12">
                        <div class="well">
                            <h4>Leita að Myndaalbúmi</h4>
                            <div class="input-group">
                                <input type="text" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>

                        </div>
                    </div>
                    <% if current_user %>
                    <div class="col-lg-12">
                        <p><%= button_to "Nýtt myndaalbúm", new_gallery_path, {method: :get, class: "btn btn-primary"} %></p>
                    </div>
                    <% end%>
                </div>-->

                <% @galleries.each_with_index do |gallery, index| %>
                <div class="col-md-4 portfolio-item" style="margin-bottom:60px;">
                 <div class="thumbnail">
                    <a >
                        <%= image_tag gallery.photo.url(:preview), :class => "img-responsive" %>
                    </a>
                    <h3><a href="#project-link" onclick="loadGalleria('<%=gallery.setid%>');modalClick('<%=gallery.name%>');"><%=gallery.name%></a>
                    </h3>
                    <p>
                        <span class="glyphicon glyphicon-time"></span> <%=gallery.created_at.strftime("Sett inn %m/%d/%Y, klukkan %H:%M")  %></p> <hr>
                        <p style = "height: 60px;"><%= gallery.description %></p>
                        <div style = "height: 40px;">
                            <p><button class="btn btn-primary" style="float:left; margin-right:15px;" onclick="loadGalleria('<%=gallery.setid%>');modalClick('<%=gallery.name%>');">Skoða</button></p>
                        <%if current_user && has_access(gallery, current_user)%>
                            
                            <%= button_to "Breyta", edit_gallery_path(:id => gallery.id), {method: :get, class: "btn btn-primary", style:"float:left; margin-right:15px;"} %>

                            <%= button_to "Eyða", gallery_path(:id => gallery.id), {method: :delete, class: "btn btn-danger"} %>
                            
                        <%end%>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        <!--<div class="col-lg-4">

            <div class="col-lg-12">
                <div class="well">
                    <h4>Leita að Myndaalbúmi</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>

                </div>
            </div>
            <% if current_user %>
            <div class="col-lg-12">
                <p><%= button_to "Nýtt myndaalbúm", new_gallery_path, {method: :get, class: "btn btn-primary"} %></p>
            </div>
            <% end%>
        </div>-->
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <div id="galleria">
                        <!--<img src="/IMG_0321.jpg">
                        <img src="/IMG_0330.jpg">-->
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Loka</button>
            <button id="fullscreen" type="button" class="btn btn-success">Fullscreen</button>
        </div>
    </div>
</div>
</div>

</body>
</html>

<script type="text/javascript">
    $('#galleria').galleria({
        width: 700,
        height: 407 //--I made heights match
    });

    $('#fullscreen').click(function() {
        $('#galleria').data('galleria').toggleFullscreen(); // toggles the fullscreen
    });

    window.onload = function() {
      loadGalleria(72157612108853933);
    };

    function loadGalleria(set) {
        var setString = 'set:' + set;
        //alert(setString);
        Galleria.loadTheme('/galleria.classic.min.js');
                //Galleria.run('#galleria');
        Galleria.run('#galleria', {
            flickr: setString,
            flickrOptions: {
                max: 400,
                sort: 'date-posted-asc'
            }
        });
    }

    function modalClick(title) {  
        $("#myModalLabel").text(title);
        $('#myModal').modal('toggle');
    }

    </script>