<nav class="navbar navbar-fixed-top navbar-custom" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="<%=root_path()%>">Hansen Open</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><%= link_to "Fréttir", blogs_path(), {method: :get} %>
                    </li>
                    <li><%= link_to "Myndasöfn", gallery_index_path(), {method: :get} %>
                    </li>
                    <% if !current_user %> 
                        <li><%= link_to "Skrá inn", signin_path(), {method: :get} %>
                        </li>
                    <%end%>
                    <% if current_user %>
                        <li><%= link_to "Skrá út", signout_path(), {method: :delete} %>
                        </li>
                        <% if is_admin(current_user)%>
                        <li><%= link_to "Admin", admin_path(), {method: :get} %>
                        </li>
                        <%end%>
                        <li><%= link_to current_user.fullname, signout_path(), {method: :delete} %>
                        </li>
                        <li><%= link_to "Breyta lykilorði", edit_user_path(:id => current_user.id), {method: :get} %>
                        </li>
                    <%end%>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>